.AccountCredentials {
    display: flex;
    align-items: center;
}
.AccountCredentials p {
    color: white;
    font-size: 1.2rem;
}
.AccountCredentials img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 10px;
}

.AccountCredentials:hover {
    cursor: pointer;
}
.AccountCredentials:hover p {
    color: #44dfbd;
}
.AccountCredentials:hover img {
    border: 4px solid #44dfbd;
}
.AccountCredentials p {
    margin-bottom: 0;
}