.InputElement {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.InputElement:focus {
    outline: none;
}
.Label {
    color: black;
    font-weight: bolder;
    font-size: 1.125rem;
}
.FileInput {
    border: .5px solid #bababa;
}
.TextArea {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.TextAreaInput {
    flex: 1;
    resize: none;
}
.Invalid {
    border: 2px solid salmon;
    background-color: salmon;
}